.img-container{
   height: 588px;
   width: 580px; 
}
 .image-side{
   place-content: center;
 }
 .left-side{
    place-content: center;
    padding: 0 5rem;
    background: url(../../../../assets/img/Union.png) no-repeat left;
    background-size: cover;
 }
 .right-side{
    place-content: center;
    padding: 0 4rem
 }
 .heading-container{
    padding: 0 4rem 0 0;
    width: 100%;
 }
 .text-conatiner{
   padding: 0 1rem 0 0;
   width: 100%;
 }
 .heading-container h2{
  font-size: 40px;
  font-family: 'Alda OT CEV Regular';
  line-height: 48px;
 }
 .text-conatiner p{
    padding-top: 3rem  ;
    padding-bottom: 3rem;
    font-size: 20px;
    line-height: 28px;
   }
   
   @media (max-width: 575.98px) { 
      .left-side,.right-side{
      padding: 1rem 2rem;
     }
     .heading-container{
        padding: 0 2rem 0 0;
     }
     .image-side{
      display: flex;
      place-content: center;
    }
     .heading-container h2{
        font-size: 24px;
        line-height: 30px;
     } 
     .text-conatiner{
      padding: 0 0.5rem  0;
    }
     .text-conatiner p{
      padding-top: 1rem  ;
      padding-bottom: 1rem;
      font-size: 16px;
      line-height: 26px;
     }
     .img-container{
      height:250px;
      width: 300px; 
   
   }
   }
   @media (min-width: 768px) {  
      .text-conatiner{
         padding: 0 0.5rem 2rem  0;
       }
   }