<div class="row w-100 h-100">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 left-side">
       
            <div class="heading-container">
                <h2 class="">You've completed your quiz</h2>
            </div>
           <div class="text-conatiner">
            <p class="">We really appreciate that you took the time to log the answers to this quiz to the console as a javascript object!</p>
    
            <button class="btn-button landing-btn" (click)="submitFn()">Take me to your leader</button>
           </div>
       
       

    </div>
    <div class=" col-12 col-sm-12 col-lg-6 col-md-12 right-side">
        <div class="image-side flex">
        <div class="img-container">
            
            <img  src="../../../../assets/img/landing-page.png" class="w-100">
        </div>
       
          </div>  
       

    </div>
</div>