<div class="row w-100 h-100">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 left-side">
        <div class="image-side flex">
        <div class="img-container">
            
            <img  src="../../../../assets/img/landing-page.png" class="w-100">
        </div>
        </div>
       

    </div>
    <div class=" col-12 col-sm-12 col-lg-6 col-md-12 right-side">
        <div class="heading-container">
            <h2 class="">Let's get started filling out your profile</h2>
        </div>
       <div class="text-conatiner">
        <p class="">The best way for us to get you the right kind of help is to know you as well as possible.</p>

        <button class="btn-button landing-btn" (click)="startFn()">Start</button>
       </div>
    </div>
</div>