<div class="row progress-conatiner">
    <div class="col-2 ">
    <span class="py-1 progress-bar curved-shape" [ngClass]="{'green-bar': slideorder>=1}" ></span>
    </div>
    <div class="col-2 ">
    <span class="py-1  progress-bar" [ngClass]="{'green-bar': slideorder>=2}"></span>
    </div>
    <div class="col-2">
   <span class="py-1  progress-bar" [ngClass]="{'green-bar': slideorder>=3}"></span>
    </div>
    <div class="col-2">
   <span class="py-1  progress-bar" [ngClass]="{'green-bar': slideorder>=4}"></span>
    </div>
    <div class="col-2">
   <span class="py-1  progress-bar" [ngClass]="{'green-bar': slideorder==5}"></span>
    </div>
    <div class="py-1">
       {{slideorder}} of 5
    </div>
</div>