<div class="login-content">
    <div class="row w-100 h-100">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 left-side">
        <div class="image-side flex">
        <div class="img-container">
            
            <img  src="../../assets/img/logo.png" class="w-100">
        </div>
        </div>
       

    </div>
    <div class=" col-12 col-sm-12 col-lg-6 col-md-12 right-side d-flex  align-items-center">
        <div class="">
        <div class="heading-container">
            <h2 class="">Welcome Back!</h2>
        </div>
       <div class="text-conatiner">
        <p class="">Please log in to access your account.</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="col-12 col-lg-12 col-md-10 col-sm-12 py-2">
                <label class="d-block label-assessment-horizontal py-2" for="username" >Username</label>

              <input id="email" class="assessment-input w-100"  type="text" formControlName="username"  placeholder="Enter your username" required >
              <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                <small class="error">Username is required</small>
              </div>
            </div>
        
            <div class="col-12 col-lg-12 col-md-10 col-sm-12 py-2">
              <label class="d-block label-assessment-horizontal py-2" for="password">Password</label>
              <input class="assessment-input w-100"  id="password" type="password" formControlName="password" placeholder="Enter your password" required >
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <small class="error">Password is required.</small>
              </div>
            </div>
        
           
            <button type="submit" [disabled]="loginForm.invalid" class="btn-button landing-btn">Login</button>
          </form>
       
       </div>
    </div>
    </div>
</div>
</div>