.addmore-btn{
   border-radius: 4px;
   border:1.5px solid #22549F;
   padding: 12px 50px; 
   color: #363636;
   font-size: 16px;
   background: transparent;
   cursor: default;
   font-family: 'Sofia Pro Light';
   &:hover{
    background: #22549F;
    color:#ffffff
   }
}
