<div class="w-100 py-4">
<h2 class="assessment-header">My favorite movie genre is:</h2>
<p class="sub-text">(Check all that apply)</p>
    <div class=" row col-12 col-md-12 col-md-12 col-lg-8 ">
        <div class="col-12 col-sm-12 col-lg-6 col-md-6 py-3 px-2 " *ngFor="let item of checkboxArr">
            <label class="form-check-label label-assessment">
              <input type="checkbox" class="form-check-input" value="item.value"> <span class="px-2">{{item.value}}</span>
            </label>
          </div>
          
        <app-page-nav previousButtonText="Exit Assessment"[isIcon]="false" [nextSlide]="2" [previousSlide]="0" (navigateevent)="nextFn($event)"></app-page-nav>
    </div>
   
</div>